@use "src/assets/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$clr-primary;
  color: variables.$clr-secondary;

  font-size: variables.$font-base;
  font-family: sans-serif;
}
